<ol class="breadcrumb">
  <li class="active">Control Panel</li>
</ol>

<div class="panel panel-default">
	<div class="row-fluid">
		<h3>Employee Requests</h3>
	</div>

	<br class="rwd-break">

	<div class="container-fluid">

		<table class="table table-bordered table-hover">
	    	<thead>
	      		<tr>
	        		<th>Employee</th>
	        		<th>Type</th>
	        		<th>Start Date</th>
			        <th>End Date</th>
			        <th>Number of Days</th>
			        <th>Status</th>
			        <th>Action</th>
	      		</tr>
	    	</thead>
		    <tbody>
		    	 <%@requests.each do |request| %>
      				<tr>
      					<td><%= request.user.name %></td>
        				<td><%= t "request_absense_type.#{request.absense_type}" %> </td>
				        <td>
				          <% if request.partial? %>
				          <%= l request.starting_date.to_date, format: :long  %>
				          -
				          <%= l request.starting_date, format:  '%H:%M'  %>
				        <% else %>
				          <%= l request.starting_date.to_date, format: :long %>
				          <% end %>

				        </td>
				        <td>
				          <% if request.partial? %>
				          	<%= l request.end_date, format: '%H:%M'  %>
				          <% else %>
				          	<%= l request.end_date.to_date, format: :long %>
				          <% end %>
				        </td>
				        <td>
				          <% unless request.partial? %>
				          	<%=  request.no_days %>
				          <% end %>
				        </td>
        				<td>
          					<%= t "request_status.#{request.status}" %>
        				</td>
        				<td>
				          <div style="display:none"><%= request.comment %></div>
				          <% if request.requested? %>
				          <a href="<%= request_path(request) %>" class="ui tiny basic  button modal-trigger">
				            <i class="unhide icon"></i>
				            Decide
				          </a>
				          <% end %>
				        </td>
				     </tr>
				     
      			<% end %>
		    </tbody>
	  	</table>
	  </div>
</div>