<script type="text/javascript">
  $(function () {
    $('#request_starting_date').datetimepicker({timepicker: false, format: 'Y/m/d'});
    $('#request_end_date').datetimepicker({timepicker: false, format: 'Y/m/d'});
    $('#request_partial_starting').datetimepicker({timepicker: false, format: 'Y/m/d'});
    $('#request_starting_time').datetimepicker({timepicker: true, datepicker: false, format: 'H:i'});
    $('#request_end_time').datetimepicker({timepicker: true, datepicker: false, format: 'H:i'});

    $('input:radio').change(function () {
      if ($(this).val() == 'partial') {
        $(".full-absence").hide();
        $(".partial-absence").show();
      } else {
        $(".full-absence").show();
        $(".partial-absence").hide();
      }
    });

    $('input:radio').filter(':checked').change();
  });
</script>

<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <label>absence type: </label>
      <%= f.radio_button :absence_type, 'full'  %>
      <label>Full</label>
      <%= f.radio_button :absence_type, 'sickness'  %>
      <label>Sickness</label>
      <%= f.radio_button :absence_type, 'partial'  %>
      <label>Partial</label>
  </div>

  <div class="form-group full-absence">
      <label>Start Date: </label><br>
      <%= f.text_field :starting_date %><br>
      <label>End Date:</label><br>
      <%= f.text_field :end_date %><br>
      <label>Working Days</label><br>
      <%= f.text_field :no_days %>
  </div>

  <div class="form-group partial-absence">
      <label>Date: </label><br>
      <%= f.text_field :partial_starting %><br>
      <label>Starting Hour:</label><br>
      <%= f.text_field :starting_time %><br>
      <label>End Hour:</label><br>
      <%= f.text_field :end_time %>
  </div>

 <div class="form-group">
      <label>Assign to: </label><br>
      <%= f.select(:approver_id,
                   User.where(manager:true)
                       .where.not(id:logged_user.id)
                       .collect {|p| [ p.name, p.id ] },
                   {},{} )%>
</div>
<div class="form-group">
      <label>Description: </label><br>
      <%= f.text_field :description %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
