<ol class="breadcrumb">
  <li><%= link_to 'Control Panel', employee_requests_path %></li>
  <li class="active">Approve Request</li>
</ol>

<p id="notice"><%= notice %></p>

<div class="form-group">
  <label>Employee Name:  </label><br> <%= @request.user.name %><br>

  <label>Occupation:</label><br> <%= @request.user.position %><br>

  <label>absence Type:</label><br> <%= @request.absence_type %><br>
</div>

<div class="form-group">
  <% if @request.partial? %>
    <label>Date</label>
    <%= l @request.starting_date.to_date, format: :long  %>  <div class="field">
    <label>Starting Hour</label>
    <%= l @request.starting_date, format:  '%H:%M'  %>
    <label>End Hour</label>
    <%= l @request.end_date, format:  '%H:%M'  %>

  <% else %>
    <label>Starting Date: </label>
    <%= l @request.starting_date.to_date, format: :long  %>
    <label>End Date: </label>
    <%= l @request.end_date.to_date, format: :long  %>
    <label>Working Days: </label>
    <%= @request.no_days %>

  <% end %>

</div>

<div class="form-group">
  <label>Description:  </label><br> <%= @request.description %>
</div>

<%= form_for(@request) do |f| %>
  <div class="form-group">
    <label>Leave comment: </label><br>
    <%= f.text_area :comment, rows:5, cols:80 %>
  </div>

  <div class="span2 col-md-2 ">
    <p><%= f.submit 'Approve' , class: 'btn-success btn-block', name: 'approved' %></p>
    <p><%= f.submit 'Deny' , class: 'btn-danger btn-block',name:'denied' %></p>
  </div>
<% end %>
