<!DOCTYPE html>
<html>
<head>
  <title>ARVSM - Absence Request and Vacation Schedule Management System<</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'myStyle' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% if logged_in? %>
			<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	    			<div class="navbar-header">
	      				<a class="navbar-brand" href="#">AVRSM</a>
	    			</div>
	    			<ul class="nav navbar-nav">
	      				<li class="active"> <%= link_to "My Requests", root_path,
                      class:'ui red item' %></li>
	      				<li> <%= link_to "Incoming Requets", #incoming_path,
                      class:'ui red item' if logged_user.is_manager? %></li>
	    			</ul>
	    			<div class="nav navbar-nav navbar-right">
	    				<ul class="nav navbar-nav">
	    					<li><a><%=logged_user.name %></a></li>
               				<li><%= link_to "Log out", logout_path, method: :delete,class:'ui item' %></li>
               			</ul>
           			</div>
	  			</div>
			</nav>
		<% end %>
		<%= yield %>
	</div>

</body>
</html>
